@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
}
html{
    scroll-behavior: smooth;
}
nav{
    background: #0658cb;
    height: 80px;
}
nav .container{
    margin: 0 auto;
    max-width: 1100px;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;
}
.logo img{
    width: 50px;
}
nav .menu ul{
    display: flex;
    margin-top: 10px;
}
nav .menu ul li{
    list-style: none;
    margin: 0 20px;
}
nav .menu ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    transition: all 100ms;
}
nav .menu ul li a:hover{
    background-color: rgb(182, 37, 37);
    color: #ffffff;
    border-width: 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}
label i{
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    transition: all 100ms;
}
label i:hover{
    font-size: 45px;
}
.menu label{
    display: none;
}
.menu input{
    display: none;
}





.banner{
    background-size: cover;
    height: 570px;
    color: white;
    
}
.contents{
    padding-top: 180px;
    padding-left: 3rem;
    height: 100%;
    background-image: linear-gradient(90deg,black,#00000029,transparent);
}
.title{
    font-size: 3.5rem;
    font-weight: 800;
    padding-top: 0.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 3.2rem;
    max-width: 465px;
}
.description{
    max-width: 30rem;
    margin-top: 1.5rem;
    line-height: 1.4rem;
}
.fade{
    background-image: linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.6),rgb(0, 0, 0));
    height: 7rem;
}




.about-header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: #fff;
    background: #0658cb;
}
.about-text{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 5px;
}
.about-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.about-card{
    position: absolute;
    top: 105px;
    text-align: center;
    width: 80%;
    backdrop-filter: blur(18px);
    color: #fff;
    border-radius: 30px;
}
.about-bg{
    width: 1349px;
    height: 1080px;
    background-image: url(images/269774.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.about-card h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 19px;
}
.about-card p{
    padding: 0px 10px 20px 10px;
}




    
.films-header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: #fff;
    background: #0658cb;
}
.films-text{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 5px;
}
.films-content{
    width: 100%;
    height: 100%;
    position: relative;
}
.section-films-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 10px;
    justify-content: space-between;
    background-image: url(images/blur-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.films-card{
    height: 460px;
    text-align: center;
    width: 23%;
    background: #0658cb;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 11px;
    cursor: pointer;
}
.films-card h1{
    margin: 10px;
}
.films-card p{
    margin: 10px;
}



.award-header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: #fff;
    background: #0658cb;
}
.award-text{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 5px;
}
.award-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 35px;
    background: #0658cb91;
}
.award-card{
    width: 27%;
    height: 310px;
    background: #0658cb;
    color: #fff;
    margin: 38px;
    border-radius: 10px;
    box-shadow: -30px 30px #bed3f1;
}
.award-card p{
    padding: 10px;
}
.award-card h1{
    padding: 10px;
}





.actors-header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: #fff;
    background: #0658cb;
}
.actors-text{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 5px;
}
.actors-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #71a0e1;
    padding: 0px 0px 50px 0px;
}
.actor{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 65px 50px 0px;
}


#gallery-container{
    display: flex;
    padding-top: 6px;
    background: black;
    flex-wrap: wrap;
}
#gallery-container .section{
    flex: 21%;
    padding: 0 4px;
}
#gallery-container .section img{
    width: 100%;
    margin-top: 10px;
    
}
#gallery-container .section img:hover{
    transform: scale(1.1);
    transition: all 100ms;
    cursor: pointer;
}
.gallery-header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: #fff;
    background: #0658cb;
}
.gallery-text{
    text-transform: uppercase;
    font-size: 3rem;